<h3>{{d-icon "topics"}} {{i18n 'recommended.topics.title'}}</h3>

{{#if hasTopics}}
    {{topic-list
            highlightLastVisited=true
            top=top
            showPosters=true
            currentUser=currentUser
            hideCategory=false
            changeSort="changeSort"
            order=order
            ascending=ascending
            category=category
            topics=model.topics}}
{{/if}}
