<p>{{i18n "user.invited.code_generated"}}</p>
<p>
    <input class='invite-link-input' style='width: 75%' type='text' value={{code}}>
</p>
<p>Copy this code down and give it to {{label}} directly. Once you dismiss this dialog, you will no longer be able to recover this code.</p>
