{{#d-section bodyClass="navigation-topics" class="navigation-container" scrollTop="false"}}
  {{bread-crumbs categories=categories}}

  {{!navigation-bar navItems=navItems filterMode=filterMode}}

    <div class="body-wrap">
      <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul id="ember1004" class="nav nav-pills ember-view">
                <li class="dropdown ember-view {{{isRecommendedActive}}}" title="Recommended" id="ember1015">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">Recommended <b class="caret-right"></b></a>
                  <ul class="dropdown-menu" style="bottom: -370%; width:145px;">
                    <li title="Recommended People"><a href="/recommended/people">People</a></li>
                    <li class="divider"></li>
                    <li title="Recommended Topics"><a href="/recommended/topics">Topics</a></li>
                    <li class="divider"></li>
                    <li title="Recommended Categories"><a href="/recommended/categories">Categories</a></li>
                  </ul>
                </li>

                <li class="dropdown ember-view {{{isFollowingActive}}}" title="Following" id="ember1017">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">Following <b class="caret-right"></b></a>
                  <ul class="dropdown-menu" style="bottom: -365%; width:110px;">
                    <li title="Following People"><a href="/following/people">People</a></li>
                    <li class="divider"></li>
                    <li title="Following Categories"><a href="/following/categories">Categories</a></li>
                    <li class="divider"></li>
                    <li title="Following Topics"><a href="/following/topics">Topics</a></li>
                  </ul>
                </li>

              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
    </div>

    <script>
        $('ul.nav li.dropdown').hover(function() {
          $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
          $(this).find('b').attr("class", "caret");
        }, function() {
          $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
          $(this).find('b').attr("class", "caret-right");
        });
    </script>

  {{create-topic-button canCreateTopic=canCreateTopic action=(route-action "createTopic")}}
{{/d-section}}
